body{
    font-family: 'Roboto', sans-serif;
    color-scheme: dark;
    background-color: rgb(42, 42, 42);
}
.info{
    float: left;
    width: 75%;
    border: 2.5px solid gray;
}
.side{
    font-weight: bold;
    letter-spacing: 2px;
    word-spacing: 4px;
    line-height: 0px;
    font-size: 20px;
    float: right;
    width: 22%;
    border: 2.5px solid gray;
}
.icon{
    max-width: 100%;
    height: auto;
    width: auto;
}
.table{
    margin-left: 1%;
}
.table_text{
    text-align: center;
    padding: 10px;
    color: black;
}
.table_icon{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.reward_icon{
    width: 25%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
tr{
    background-color: lightgray;
}
.content{
    color: aliceblue;
}
h1{
    margin-left: 1%;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 4px;
    word-spacing: 8px;
    line-height: 0px;
    font-size: 30px;
}
h2{
    margin-left: 2%;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 4px;
    word-spacing: 8px;
    line-height: 20px;
}
.navbar {
    overflow: hidden;
    background-color: aliceblue;
    font-family: Arial, Helvetica, sans-serif;
}

.navbar a {
    float: left;
    font-size: 30px;
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.dropdown {
    float: left;
    overflow: hidden;
}

.dropdown .dropbtn {
    font-size: 30px;    
    border: none;
    outline: none;
    color: rgb(0, 0, 0);
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

.navbar a:hover, .dropdown:hover .dropbtn {
    background-color:cornflowerblue;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}